@charset "UTF-8";

*{
   font-family: Arial, Helvetica, sans-serif;

}
body{ background-image:linear-gradient(to right,#0061ff,#60efff ) ;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 05px 05px 15px #00373D;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
color: #37578a;
text-align: center;
text-shadow:1px 1px 2px #223555;

}

h2{
color:#47546a
}

p{
   text-align: justify;
}